{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'liste' %}">
              <img src="{% static "eIra/images/fleche-gauche.png" %}" alt="retour image" style="width:5%">
            </a> 
            <h3 class="card-title"></h3>
            <h3 class="card-title">Details</h3>

            <h4>Informations générales</h4>

            <div class="form-row form-group">
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Numero du dossier</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ dossier.numDossier }}</li>
                  </ol>
                </nav>
              </div>
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Identité du Patient</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ dossier.identite }}</li>
                  </ol>
                </nav>
              </div>
          </div>
          <div class="form-row form-group">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Sexe</li>
                  {% if dossier.sexe == 'M' %} 
                  <li class="breadcrumb-item active" aria-current="page">Masculin</li>
                  {% else %}
                  <li class="breadcrumb-item active" aria-current="page">Feminin</li>
                  {% endif %}
                </ol>
              </nav>
            </div>
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Age du Patient</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.age }} ans</li>
                </ol>
              </nav>
            </div>
        </div>
        <div class="form-row form-group">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Adresse du Patient</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.adresse }}</li>
              </ol>
            </nav>
          </div>
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Téléphone</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.telephone }}</li>
              </ol>
            </nav>
          </div>
      </div>

          <h4>Antécédents</h4>
          <div class="form-row form-group">
            {% if dossier.antecedent %}
            <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Antécédents personnels</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.antecedent}}</li>
              </ol>
            </nav>           
            </div>
            {% endif %}
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Carcinome familial</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.carcinome}}</li>
                </ol>
              </nav>
            </div>
            {% if dossier.anteFamiliaux %}
            <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Autres antécédents familiaux</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.anteFamiliaux}}</li>
              </ol>
            </nav>           
            </div>
            {% endif %}
          </div>
            
          <h4>Traitements</h4>
          {% if dossier.nbrCure or dossier.activiteCumule or dossier.thera %}
          <div class="form-row form-group">
            {% if dossier.nbrCure %}
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Nombre de Cure</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.nbrCure }}</li>
                </ol>
              </nav>
            </div>
            {% endif %}
            {% if dossier.activiteCumule %}
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Activités Cumulées</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.activiteCumule }}</li>
                </ol>
              </nav>
            </div>
            {% endif %}
            {% if dossier.thera %}
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Autres thérapeutiques</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.thera }}</li>
                </ol>
              </nav>
            </div>
            {% endif %}
          </div>
          {% endif %}

          {% if dossier.temps1 or dossier.temps2 or dossier.curage %}
            <h5>Totalisations Chirugicales</h5>
            <div class="form-row form-group">
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    {% if dossier.temps1 %}
                    <li class="breadcrumb-item active" aria-current="page">1 temps</li>
                    {% endif %}
                    {% if dossier.temps2 %}
                    <li class="breadcrumb-item active" aria-current="page">2 temps</li>
                    {% endif %}
                    {% if dossier.curage %}
                    <li class="breadcrumb-item active" aria-current="page">Curage</li>
                    {% endif %}
                  </ol>
                </nav>
              </div>
            </div>
            {% endif %}

        <h5>Cures</h5>
        {% if dossier.cure1 or dossier.cure2 or dossier.cure3 or dossier.cure4 or dossier.cure5 or dossier.cure6 or dossier.cure7 or dossier.cure8 or dossier.cure9 or dossier.cure10 %}
        <div class="form-row form-group">
          {% if dossier.cure1 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Cure1</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure1 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.cure2 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Cure2</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure2 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.cure3 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Cure3</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure3 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
      </div>
      <div class="form-row form-group">
        {% if dossier.cure4 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Cure4</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure4 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
        {% if dossier.cure5 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Cure5</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure5 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
    </div>
    <div class="form-row form-group">
      {% if dossier.cure6 %}
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Cure6</li>
            <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure6 }}</li>
          </ol>
        </nav>
      </div>
      {% endif %}
      {% if dossier.cure7 %}
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Cure7</li>
            <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure7 }}</li>
          </ol>
        </nav>
      </div>
      {% endif %}
      {% if dossier.cure8 %}
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Cure3</li>
            <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure8 }}</li>
          </ol>
        </nav>
      </div>
      {% endif %}
        </div>
        <div class="form-row form-group">
          {% if dossier.cure9 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Cure9</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure9 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.cure10 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Cure10</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.cure10 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
      </div>
      {% else %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Aucune cure</li>
            </ol>
          </nav>
        {% endif %}

        <h5>Défrénations</h5>
        {% if dossier.defrenation1 or dossier.defrenation2 or dossier.defrenation3 %}
        <div class="form-row form-group">
          {% if dossier.defrenation1 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Defrenation1</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.defrenation1 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.defrenation2 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Defrenation2</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.defrenation2 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.defrenation3 %}
          <div class="col">
            <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Defrenation3</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ dossier.defrenation3 }}</li>
                  </ol>
                </nav>
          </div>
          {% endif %}
        </div>
        {% else %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Aucune défrénation</li>
            </ol>
          </nav>
        {% endif %}

        <br/>
                
        <h4>Examens Paracliniques</h4>
              
        <h5>Bilans Biologiques</h5>
        {% if dossier.bilan1 or dossier.bilan2 or dossier.bilan3 or dossier.bilan4  or dossier.bilan5 or dossier.bilan6 or dossier.bilan7 or dossier.bilan8 or dossier.bilan9 or dossier.bilan10 %}
        <div class="form-row form-group">
          {% if dossier.bilan1 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Bilan1</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan1 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.bilan2 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Bilan2</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan2 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.bilan3 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Bilan3</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan3 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
      </div>
      <div class="form-row form-group">
        {% if dossier.bilan4 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Bilan4</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan4 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
        {% if dossier.bilan5 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Bilan5</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan5 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
          </div>
          <div class="form-row form-group">
            {% if dossier.bilan6 %}
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Bilan6</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan6 }}</li>
                </ol>
              </nav>
            </div>
            {% endif %}
            {% if dossier.bilan7 %}
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Bilan7</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan7 }}</li>
                </ol>
              </nav>
            </div>
            {% endif %}
            {% if dossier.bilan8 %}
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Bilan8</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan8 }}</li>
                </ol>
              </nav>
            </div>
            {% endif %}
        </div>
        <div class="form-row form-group">
          {% if dossier.bilan9 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Bilan9</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan9 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.cure10 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Bilan10</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.bilan10 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
      </div>
      {% else %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Aucun bilan biologique</li>
            </ol>
          </nav>
        {% endif %}


      <h5>Examens Complémentaires</h5>
      {% if dossier.examComp1 or dossier.examComp2 or dossier.examComp3 or dossier.examComp4  or dossier.examComp5 or dossier.examComp6 or dossier.examComp7 or dossier.examComp8 or dossier.examComp9 or dossier.examComp10 %}
      <div class="form-row form-group">
        {% if dossier.examComp1 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Examen Complémentaire1</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp1 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
        {% if dossier.examComp2 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Examen Complémentaire2</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp2 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
        {% if dossier.examComp3 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Examen Complémentaire3</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp3 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
    </div>
    <div class="form-row form-group">
      {% if dossier.examComp4 %}
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Examen Complémentaire4</li>
            <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp4 }}</li>
          </ol>
        </nav>
      </div>
      {% endif %}
      {% if dossier.examComp5 %}
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Examen Complémentaire5</li>
            <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp5 }}</li>
          </ol>
        </nav>
      </div>
      {% endif %}
        </div>
        <div class="form-row form-group">
          {% if dossier.examComp6 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Examen Complémentaire6</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp6 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.examComp7 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Examen Complémentaire7</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp7 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
          {% if dossier.examComp8 %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Examen Complémentaire8</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp8 }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
      </div>
      <div class="form-row form-group">
        {% if dossier.examComp9 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Examen Complémentaire9</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp9 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
        {% if dossier.examComp10 %}
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Examen Complémentaire10</li>
              <li class="breadcrumb-item active" aria-current="page">{{ dossier.examComp10 }}</li>
            </ol>
          </nav>
        </div>
        {% endif %}
    </div>
    {% else %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Aucun examen complémentaire</li>
            </ol>
          </nav>
        {% endif %}
      </div>
    </div>
  </div>

      
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Diagnostic</p>

            {% if dossier.ageDecouverte %}
            <div class="form-row form-group">
              {% if dossier.ageDecouverte %}
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">ADD</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ dossier.ageDecouverte }}</li>
                  </ol>
                </nav>
              </div>
              {% endif %}
            </div>
            {% endif %}

            {% if dossier.Nodule or dossier.DecouverteFortuite or dossier.gnm or  dossier.adp or dossier.Metastase or dossier.AutresCir %}
            <h5>Circonstances de découverte</h5>
            <div class="form-row form-group">
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    {% if dossier.Nodule %}
                    <li class="breadcrumb-item active" aria-current="page">Nodule</li>
                    {% endif %}
                    {% if dossier.DecouverteFortuite %}
                    <li class="breadcrumb-item active" aria-current="page">Découverte Fortuite</li>
                    {% endif %}
                    {% if dossier.gnm %}
                    <li class="breadcrumb-item active" aria-current="page">GNM</li>
                    {% endif %}
                    {% if dossier.adp %}
                    <li class="breadcrumb-item active" aria-current="page">ADP</li>
                    {% endif %}
                    {% if dossier.Metastase %}
                    <li class="breadcrumb-item active" aria-current="page">Métastase</li>
                    {% endif %}
                    {% if dossier.AutresCir %}
                    <li class="breadcrumb-item active" aria-current="page">Autres circonstances</li>
                    {% endif %}
                  </ol>
                </nav>
              </div>
            </div>
            {% endif %}

          
          <div class="form-row form-group">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Type histologique</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.typeHisto }} </li>
                </ol>
              </nav>
            </div>
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Classification TNM</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ dossier.clasT }} {{ dossier.clasN }} {{ dossier.clasM }}</li>
                </ol>
              </nav>
            </div>
        </div>

        {% if dossier.multifoc or dossier.effaCapsulaire or dossier.embonVasculaire %}
        <div class="form-row form-group">
          {% if dossier.multifoc %}
          <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Multifocalité</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ dossier.multifoc }}</li>
                  </ol>
                </nav>
          </div>
          {% endif %}
          {% if dossier.effaCapsulaire %}
          <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Effraction capsulaire</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ dossier.effaCapsulaire }}</li>
                  </ol>
                </nav>
          </div>
          {% endif %}
          {% if dossier.embonVasculaire %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Embole vasculaire</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.embonVasculaire }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
        </div>
        {% endif %}


        {% if dossier.stade or dossier.risque %}
        <div class="form-row form-group"> 
          {% if dossier.stade %}
          <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Stade</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ dossier.stade }}</li>
                  </ol>
                </nav>
          </div>
          {% endif %}
          {% if dossier.risque %}
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Risque</li>
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.risque }}</li>
              </ol>
            </nav>
          </div>
          {% endif %}
        </div>
        {% endif %}

        {% if dossier.Aucune or dossier.Ganglionaire or dossier.Pulmonaire or  dossier.Oseuse or dossier.Hepatique or dossier.Cerebrale or dossier.AutresMeta %}
            <h5>Métastase</h5>
            <div class="form-row form-group">
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    {% if dossier.Aucune %}
                    <li class="breadcrumb-item active" aria-current="page">Aucune</li>
                    {% endif %}
                    {% if dossier.Ganglionaire %}
                    <li class="breadcrumb-item active" aria-current="page">Ganglionaire</li>
                    {% endif %}
                    {% if dossier.Pulmonaire %}
                    <li class="breadcrumb-item active" aria-current="page">Pulmonaire</li>
                    {% endif %}
                    {% if dossier.Oseuse %}
                    <li class="breadcrumb-item active" aria-current="page">Oseuse</li>
                    {% endif %}
                    {% if dossier.Hepatique %}
                    <li class="breadcrumb-item active" aria-current="page">Hépatique</li>
                    {% endif %}
                    {% if dossier.Cerebrale %}
                    <li class="breadcrumb-item active" aria-current="page">Cérébrale</li>
                    {% endif %}
                    {% if dossier.AutresMeta %}
                    <li class="breadcrumb-item active" aria-current="page">Autres</li>
                    {% endif %}
                  </ol>
                </nav>
              </div>
            </div>
            {% endif %}

            <p class="card-title">Résumé et Consignes</p>
            <div class="d-flex justify-content-between">
              <h4>Résumé</h4>
            </div>
            {% if dossier.resume %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.resume}}</li>
              </ol>
            </nav>
            {% else %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Aucun résumé</li>
              </ol>
            </nav>
            {% endif %}

            <div class="d-flex justify-content-between">
              <h4>Consignes</h4>
            </div>
            {% if dossier.resume %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.consigne}}</li>
              </ol>
            </nav>
            {% else %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Aucune consigne</li>
              </ol>
            </nav>            
            {% endif %}

            <div class="d-flex justify-content-between">
              <h4>Réfractaire</h4>
            </div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.refrac}}</li>
              </ol>
            </nav>
            <nav aria-label="breadcrumb">
              <h4>Prochaine consultation</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">{{ dossier.dateRdv}}</li>
              </ol>
            </nav>  
          </div>
        </div>
      </div>
      <div class="card-body d-flex align-items-center justify-content-center">
        <a href="{% url 'update' dossier.id %}" class="btn btn-info">Modifier</a>
    </div> 
    </div>

{% endblock %}