{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

    <!-- partial -->
<div class="main-panel">
<div class="content-wrapper">
<div class="row">
<a href="{% url 'liste' %}">
<img src="{% static "eIra/images/fleche-gauche.png" %}" alt="retour image" style="width:5%">
</a>                                
<h1></h1>
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-md-8">
<h4 class="card-title">Résultats de la recherche :</h4>
</div>
</div>
<div class="table-responsive">
{% if patients %}

    <form method="POST" action=""> 
        <table class="table table-striped">
            {% csrf_token %}
            <thead>
                <tr>
                    <th>N॰ Dossier</th>
                    <th> Identité du Patient</th>
                    <th> Sexe</th>
                    <th> Age</th>
                    <th>Classification TNM</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td class="py-1">{{ patient.numDossier }}</td>
                        <td>{{ patient.identite}}</td>
                        <td>{{ patient.sexe }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.clasT }} {{ patient.clasN }} {{ patient.clasM }}</td>
                    <td>
                        <a href="{% url 'detail' patient.id %}" class="mr-3">
                            <img src="{% static "eIra/images/details.png" %}" alt="details image" style="width:10%">
                        </a>
                        <a href="{% url 'update' patient.id %}" class="">
                            <img src="{% static "eIra/images/modifier.svg" %}" alt="update image" style="width:13%">
                        </a>
                        <button type="submit" name="delete" value="{{ patient.numDossier}}" class="btn">
                            <img src="{% static "eIra/images/supprimer.svg" %}" alt="delete image" style="">
                        </button>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% else %}
    <p>Aucun patient trouvé.</p>
{% endif %}
                    

{% endblock  %}