{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
            <h3 class="mb-4">Vos Statistiques </h3>

          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
      {% if message %}
        <p>{{ message }}</p>
        <a href="{% url 'addDossier' %}" class="btn btn-primary">Ajouter un patient</a>
      {% else %}
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg d-flex align-items-center justify-content-center">
                {% if patients == 1 %}
                <p class="fs-30 mb-2 text-center">Vous avez {{patients}} patient au total </p>
                {% else %}
                <p class="fs-30 mb-2 text-center">Vous avez {{patients}} patients au total </p>
                {% endif %}
              </div>
            </div>
            
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Hommes</p>
                    {% if homme == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{homme}}</p>
                    <p class="">Poucentage : {{stathomme}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Femmes</p>
                    {% if femme == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{femme}}</p>
                    <p class="">Poucentage : {{statfemme}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Age</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Moins de 40ans</p>
                    {% if ado == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{ado}}</p>
                    <p class="">Poucentage : {{statAdo}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">40 à 60ans</p>
                    {% if perso == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{perso}}</p>
                    <p class="">Poucentage : {{statPerso}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Plus de 60ans</p>
                    {% if adulte == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{adulte}}</p>
                    <p class="">Poucentage : {{statAdulte}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Carcinome familial</p>
                    {% if carcinome == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{carcinome}}</p>
                    <p class="">Poucentage : {{statCarcinome}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Effraction capsulaire</p>
                    {% if effra == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{effra}}</p>
                    <p class="">Poucentage : {{statEffra}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Embon vasculaire</p>
                    {% if embon == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{embon}}</p>
                    <p class="">Poucentage : {{statEmbon}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Réfractère</p>
                    {% if refrac == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{refrac}}</p>
                    <p class="">Poucentage : {{statRefrac}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Age de découverte</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Moins de 25ans</p>
                    {% if agedec1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{agedec1}}</p>
                    <p class="">Poucentage : {{statAgedec1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">25 à 40 ans</p>
                    {% if agedec2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{agedec2}}</p>
                    <p class="">Poucentage : {{statAgedec2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">60 à 70ans</p>
                    {% if agedec5 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{agedec5}}</p>
                    <p class="">Poucentage : {{statAgedec5}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card tale-bg align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Plus de 70ans</p>
                    {% if agedec6 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{agedec6}}</p>
                    <p class="">Poucentage : {{statAgedec6}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">40 à 50 ans</p>
                    {% if agedec3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{agedec3}}</p>
                    <p class="">Poucentage : {{statAgedec3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">50 à 60 ans</p>
                    {% if agedec4 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{agedec4}}</p>
                    <p class="">Poucentage : {{statAgedec4}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <h4>Circonstances de découverte</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Nodule</p>
                    {% if circonstance1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{circonstance1}}</p>
                    <p class="">Poucentage : {{statci1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Découverte fortuite</p>
                    {% if circonstance2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{circonstance2}}</p>
                    <p class="">Poucentage : {{statci2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Métastase</p>
                    {% if circonstance5 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{circonstance5}}</p>
                    <p class="">Poucentage : {{statci5}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card tale-bg align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Autres</p>
                    {% if circonstance6 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{circonstance6}}</p>
                    <p class="">Poucentage : {{statci6}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">GMN</p>
                    {% if circonstance3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{circonstance3}}</p>
                    <p class="">Poucentage : {{statci3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">ADP</p>
                    {% if circonstance4 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{circonstance4}}</p>
                    <p class="">Poucentage : {{statci4}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Type histologique</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Papillaire</p>
                    {% if type1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{type1}}</p>
                    <p class="">Poucentage : {{statType1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Vésiculaire</p>
                    {% if type2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{type2}}</p>
                    <p class="">Poucentage : {{statType2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card tale-bg align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Anaplasique</p>
                    {% if type5 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{type5}}</p>
                    <p class="">Poucentage : {{statType5}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Autres</p>
                    {% if type6 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{type6}}</p>
                    <p class="">Poucentage : {{statType6}}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">PapilloVesiculaire</p>
                    {% if type3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{type3}}</p>
                    <p class="">Poucentage : {{statType3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Médullaire</p>
                    {% if type4 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{type4}}</p>
                    <p class="">Poucentage : {{statType4}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Classifications</h4>
        <h4>T</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Tx</p>
                    {% if clasTx == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasTx}}</p>
                    <p class="">Poucentage : {{statTx}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T0</p>
                    {% if clasT0 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT0}}</p>
                    <p class="">Poucentage : {{statT0}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card tale-bg align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T2</p>
                    {% if clasT2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT2}}</p>
                    <p class="">Poucentage : {{statT2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T3a</p>
                    {% if clasT3a == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT3a}}</p>
                    <p class="">Poucentage : {{statT3a}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T4b</p>
                    {% if clasT4b == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT4b}}</p>
                    <p class="">Poucentage : {{statT4b}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T1a</p>
                    {% if clasT1a == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT1a}}</p>
                    <p class="">Poucentage : {{statT1a}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T1b</p>
                    {% if clasT1b == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT1b}}</p>
                    <p class="">Poucentage : {{statT1b}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T3a</p>
                    {% if clasT3a == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT3a}}</p>
                    <p class="">Poucentage : {{statT3a}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">T4a</p>
                    {% if clasT4a == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasT4a}}</p>
                    <p class="">Poucentage : {{statT4a}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>N</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Nx</p>
                    {% if clasNx == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasNx}}</p>
                    <p class="">Poucentage : {{statNx}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">N0</p>
                    {% if clasN0 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasN0}}</p>
                    <p class="">Poucentage : {{statN0}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">N1a</p>
                    {% if clasN1a == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasN1a}}</p>
                    <p class="">Poucentage : {{statN1a}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">N1b</p>
                    {% if clasN1b == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasN1b}}</p>
                    <p class="">Poucentage : {{statN1b}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>M</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Mx</p>
                    {% if clasMx == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasMx}}</p>
                    <p class="">Poucentage : {{statMx}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">M0</p>
                    {% if clasM0 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasM0}}</p>
                    <p class="">Poucentage : {{statM0}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">M1</p>
                    {% if clasM1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{clasM1}}</p>
                    <p class="">Poucentage : {{statM1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>

        <h4>Métastase</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Aucune</p>
                    {% if meta1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{meta1}}</p>
                    <p class="">Poucentage : {{statmeta1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Ganglionaire</p>
                    {% if meta2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{meta2}}</p>
                    <p class="">Poucentage : {{statmeta2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card tale-bg align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Pulmonaire</p>
                    {% if meta3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{meta3}}</p>
                    <p class="">Poucentage : {{statmeta3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Oseuse</p>
                    {% if meta4 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{meta4}}</p>
                    <p class="">Poucentage : {{statmeta4}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Hépatique</p>
                    {% if meta5 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{meta5}}</p>
                    <p class="">Poucentage : {{statmeta5}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Cérébrale</p>
                    {% if meta6 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{meta6}}</p>
                    <p class="">Poucentage : {{statmeta6}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Autres</p>
                    {% if meta7 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{meta7}}</p>
                    <p class="">Poucentage : {{statmeta7}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Stade</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">I</p>
                    {% if stade1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{stade1}}</p>
                    <p class="">Poucentage : {{statStade1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">II</p>
                    {% if stade2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{stade2}}</p>
                    <p class="">Poucentage : {{statStade2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card tale-bg align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">IVB</p>
                    {% if stade5 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{stade5}}</p>
                    <p class="">Poucentage : {{statStade5}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">III</p>
                    {% if stade3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{stade3}}</p>
                    <p class="">Poucentage : {{statStade3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">IVA</p>
                    {% if stade4 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{stade4}}</p>
                    <p class="">Poucentage : {{statStade4}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Risque</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Faible</p>
                    {% if risque1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{risque1}}</p>
                    <p class="">Poucentage : {{statRisque1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Intermediaire</p>
                    {% if risque2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{risque2}}</p>
                    <p class="">Poucentage : {{statRisque2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Haut</p>
                    {% if risque3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{risque3}}</p>
                    <p class="">Poucentage : {{statRisque3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>

        <h4>Totalisation Chirugicale</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">1 temps</p>
                    {% if totalChir1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{totalChir1}}</p>
                    <p class="">Poucentage : {{statChir1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">2 temps</p>
                    {% if totalChir2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{totalChir2}}</p>
                    <p class="">Poucentage : {{statChir2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Curage</p>
                    {% if totalChir3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{totalChir3}}</p>
                    <p class="">Poucentage : {{statChir3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>

        <h4>Nombre de Cures</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Moins de 5</p>
                    {% if nbrCur1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{nbrCur1}}</p>
                    <p class="">Poucentage : {{statCur1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">5 à 10</p>
                    {% if nbrCur2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{nbrCur2}}</p>
                    <p class="">Poucentage : {{statCur2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Plus de 10</p>
                    {% if nbrCur3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{nbrCur3}}</p>
                    <p class="">Poucentage : {{statCur3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>

        <h4>Activités Cumulées</h4>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Moins de 200</p>
                    {% if activite1 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{activite1}}</p>
                    <p class="">Poucentage : {{statActivite1}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">200 à 300</p>
                    {% if activite2 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{activite2}}</p>
                    <p class="">Poucentage : {{statActivite2}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card tale-bg align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">Plus de 1000</p>
                    {% if activite5 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{activite5}}</p>
                    <p class="">Poucentage : {{statActivite5}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">300 à 400</p>
                    {% if activite3 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{activite3}}</p>
                    <p class="">Poucentage : {{statActivite3}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-8 text-center">500 à 1000</p>
                    {% if activite4 == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    <p class="">Poucentage : 00 % </p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{activite4}}</p>
                    <p class="">Poucentage : {{statActivite4}} % </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      {% endif %}

{% endblock %}