{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
            <h3 class="mb-4">Vos Statistiques </h3>

          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
      {% if message %}
        <p>{{ message }}</p>
        <a href="{% url 'addDossier' %}" class="btn btn-primary">Ajouter un patient</a>
      {% else %}
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg d-flex align-items-center justify-content-center">
                {% if patients == 1 %}
                <p class="fs-30 mb-2 text-center">Vous avez {{patients}} patient au total </p>
                {% else %}
                <p class="fs-30 mb-2 text-center">Vous avez {{patients}} patients au total </p>
                {% endif %}
              </div>
            </div>
            
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-4">Hommes</p>
                    {% if homme == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{homme}}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue align-items-center justify-content-center">
                  <div class="card-body ">
                    <p class="mb-4">Femmes</p>
                    {% if femme == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{femme}}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body ">
                    <p class="mb-4">Patients de moins de 60ans</p>
                    {% if ado == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{ado}}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body">
                    <p class="mb-4">Patients de plus de 60ans</p>
                    {% if adulte == 0 %}
                    <p class="fs-30 mb-2 text-center">0</p>
                    {% else %}
                    <p class="fs-30 mb-2 text-center">{{adulte}}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endif %}

{% endblock %}